@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family:'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Press Start 2P', cursive;
}

.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: white;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}

.result-text{
  color: white;
  font-size: 1rem;
  text-align: center;
  /* margin-bottom: 0.8rem; */
}

.desc-text{
  color: white;
  font-size: 0.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.gameboard{
  width: 21rem;
  height: 20rem;
  display: grid;
  /* column-gap: 1rem; */
  /* row-gap: 0rem; */
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
  margin:7vh auto ;
}


.squarebtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: 0.09rem dashed rgba(206, 202, 202, 0.651);
  font-family:'Press Start 2P', cursive;
}

.btn{
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  /* font-weight: 500; */
  background: #000000b6;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 1s;
  font-family:'Press Start 2P', cursive;
}

.btn:hover{
  border: 0.09rem dashed rgba(206, 202, 202, 0.651);
}

@media only screen and (max-width: 600px) {
  .heading-text {
      color: white;
      font-size: 1rem;
      /* font-weight: bolder; */
      text-align: center;
      /* margin: 60px 10px; */
  }

}